.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    font-family: system-ui, sans-serif;
    background: #F8FAFA;
}

.form-advice {
    padding: 0 2rem;

    & p {
        font-weight: bold;
        text-wrap: balance;
    }
    & p:first-child {
        margin-bottom: 1rem;
    }
}

.form {
    padding: 2rem;
    background: #fff;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);

    & h2 {
        margin-bottom: 2rem;
    }

    & .form-row {
        position: relative;
        display: flex;
        gap: 3rem;
        margin-bottom: 32px;

        & label {
            position: absolute;
            top: -20px;
            font-size: 0.8rem;
            font-weight: 600;
            color: #6A717A;
            text-transform: uppercase;
        }
        & input {
            width: 100%;
            height: 25px;
            padding: 0 8px;
            border: 1px solid #E5E7EB;
            border-radius: 8px;
            transition: border-color 0.3s, box-shadow 0.3s;
        }
        & input:focus {
            border-color: #6bb9ff;
            box-shadow: 0 0 8px rgba(126, 200, 255, 0.6);
            outline: none;
        }
    }
}

.log-in {
    margin-left: 2rem;
    font-size: 0.9rem;

    & a {
        font-weight: bold;
        color: #596D48;
        text-decoration: none;
    }
}